@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,700);
@import url("documents.css");
@import url("header.css");
@import url("footer.css");
@import url("reset.css");
@import url("menus.css");

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Volkorn;
}

/*makes the main image reponsive*/
.image-resize {
  margin-right: 0px;
  margin-top: 30px;
  margin-left: 0px;
  display: block;
}


.image-resize img{
  max-width: 100%;
  height: auto;
}

/*quem somos section styling*/
.quem-somos-button-container {
  border: 2px solid black;
  padding: 1%;
  margin-top: 8%;
  margin-right: auto;
  margin-left: auto;
  max-width: 170px;
}

.quem-somos-button-container {
  white-space: nowrap;
  text-align: center;
  font-size: 2.5em;
  background: white;
}


/*General contaier for titles of sections*/
.button-container {
  border: 2px solid black;
  padding:1%;
  margin-top: 15%;
  margin-right:auto;
  margin-left:auto;
  width: 170px;
}

.button-container h1 {
  text-align: center;
  font-size: 2.5em;
  background: white;
}

/*festas section*/
#festas {
  width: 250px;
}

#festas h1 {
  white-space: nowrap;
}

/*Div where you insert text*/
.text-box {
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 2%;
}

.text-prop {
  text-decoration: none;
  text-align: left;
  letter-spacing: 1px;
  line-height:1.5em;
  font-size: 2em;
}

#finalrow {
  margin-bottom: 10%;
}

@media screen and (max-width: 500px) {

  /*Resizing text prop*/
  .text-box {
    margin-right:10%;
    margin-left:10%;
  }
  
  .text-prop {
    margin-top: 10%;
    font-size: 1.3em;
  }
  
}
