@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,700);
@import url("documents.css");
@import url("header.css");
@import url("footer.css");
@import url("reset.css");
@import url("menus.css");

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Volkorn;
}

.image-resize {
  margin-right: 0px;
  margin-top: 30px;
  margin-left: 0px;
  display: block;
}


.image-resize img{
  max-width: 100%;
  height: auto;
}

.button-container {
  border: 2px solid black;
  padding-bottom: 1%;
  margin-top: 8%;
  margin-right:auto;
  margin-left:auto;
  padding-top: 1%;
  width: 15%;
}

.button-container h1 {
  text-align: center;
  font-size: 2.2rem;
  background: white;
}

.text-box {
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 2%;
}

.text-prop {
  text-decoration: none;
  text-align: justify;
  letter-spacing: 1px;
  line-height:1.5em;
  font-size: 2em;
}

#finalrow {
  margin-bottom: 10%;
}
