.text-edition:link, .text-edition:visited, .text-edition{
  font-variant: small-caps;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 2.5em;
  color: black;
}

.line-separator {
  border-top: 2px solid black;
  width: 10%;
}

#documents-section {
  margin-top:0%;
}

.text-bx p {
  padding-right: 20%;
  padding-left: 20%;
  font-size: 2em;
}

.text-bx2 {
  margin-top: 5%;
}

.text-bx {
  padding-top: 5%;
}

.text-bx2 p {
  padding-right: 15%;
  padding-left: 15%;
  font-size: 2em;
}

.doc-info {
  letter-spacing: 1px;
}

@media screen and (max-width: 500px) {

  #documents-section {
    margin-top:0%;
  }
  
 .text-edition:link, .text-edition:visited, .text-edition {
    font-size: 2em;
  }

  .text-bx2 {
    padding-top: 7%;
  }

  .text-bx {
    padding-top:7%;
  }

  .text-bx2 p {
    font-size: 1.1em;
    padding-left: 15%;
    padding-right: 15%;
  } 

  .text-bx p {
    font-size: 1.1em;
    padding-left: 15%;
    padding-right: 15%;
  }

  #bigger {
    padding-top:5%;
  }
}
