/*Footer bar*/

.footer {
  color: rgb(150,150,150);
  position: absolute;
  background: black;
  height: 250px;
  width: 100%;
}

.grid-container {
  margin-right: auto;
  text-align: center;
  margin-left: auto;
  margin-top: 3%;
  width: 95%;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

#contacts {
  text-align: left;
}

#contacts h3 {
  margin-bottom: 6%;
  font-size: 1.7em; 
}

#contacts h4 {
  letter-spacing: 1px;
  padding-bottom: 4%;
  font-size: 1.2em;
}

#footer-line {
  border-top: 2px solid rgb(150, 150, 150);
  width: 20%;
}

#facebook h1 {
 padding-top: 2%;
 font-size: 2em; 
}

#cpy {
  text-align: right;
}

#cpy h3 {
  text-transform: capitalize;
  font-size: 1.500em;
  margin-bottom: 7%;
}
