/*Footer bar*/ 
/*general config for footer bar*/
.footer {
  color: rgb(192,192,192);
  position: absolute;
  background: black;
  height: 250px;
  width: 100%;
}

.grid-container {
  margin-right: auto;
  text-align: center;
  margin-left: auto;
  margin-top: 3%;
  width: 95%;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

/*contacts section of footer config*/
#contacts {
  text-align: left;
}

#contacts h3 {
  letter-spacing: 1px;
  margin-bottom: 6%;
  font-size: 1.7em; 
}

#contacts h4 {
  letter-spacing: 1px;
  padding-bottom: 4%;
  font-size: 1.2em;
}

/*facebook content and line below it*/
#footer-line {
  border-top: 2px solid rgb(150, 150, 150);
  width: 20%;
}

#facebook h1 {
 padding-top: 2%;
 font-size: 2em; 

}

/*copyright section*/
#cpy {
  text-align: right;
}

#cpy h3 {
  letter-spacing: 1px;
  text-transform: capitalize;
  font-size: 1.2em;
  margin-bottom: 7%;
}

/*all the media queries in this file are for
 reponsive porpuses only and to make it more readable in mobile*/
@media screen and (max-width: 990px) {

  .footer {
    height:12%;
  }  

  #contacts {
    text-align: center;
  }

  #contacts h4 {
    padding-bottom: 2%;
  }

  #cpy {
    text-align: center;
  }

  #cpy h3 {
    margin-bottom: 3%;
  }

  #footer-divs div {
    padding-top: 6%; 
  }
}

@media screen and (max-width: 766px) {

  #footer-divs div {
    padding-top:6%;
  }

  #contacts {
    text-align:center;
  }

  #contacts h4 {
    padding-bottom: 2%;
  }

  #cpy {
    text-align:center;
  }

  #cpy h3 {
    margin-bottom: 2%;
  }

  .footer {
    height: 7%;
  }
}

@media screen and (max-width: 500px) {

  #contacts #facebook #cpy {
    text-align:center;
  }

  .footer {
    height: 9%;
  }
}
