
/*Header bar*/

body {
  font-family: Volkorn;
  line-height: 1.25em;
  text-align: center;
  position: relative;
  font-size: 1.05em;
  background: white;
}

header {
  background: black;
  position: fixed;
  z-index: 100;
  width: 100%;
  height:85px;
  left: 0;
  top: 0;
}

nav {
  float: right;
  margin-right: 2%!important;
}

#title-container {
  float: left;
  margin-left: 2%;
  margin-top:30px;
  width:430px;
}

.menu {
  list-style: none;
  font-size: 1.4em;
}

.menu li {
  display:inline-block;
  float:left;
}

.menu hr {
  border-top: 2px solid black;
  width: 100%;
}

/*all the font specs come here*/
.font-spec {
  font-variant: small-caps;
  letter-spacing: 1px;
}

.sections a:link, a:visited, a {
  text-decoration: none;
  padding-right: 20px;
  text-align: center;
  margin-top:30px;
  display: block;
  color: white;
}

#title {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2em;
  display: block;
  color: white;
  float: left;
}

#menu-container {
  display:none;
}

#whoare {
  border-top: 2px solid white;
}

a:hover {
  text-decoration: none;
}

@media screen and (max-width: 920px) {
  #title-container {
    width: 250px;
    margin-top: 15px;
  }

  #title {
    font-size: 1.5em;
    width:50%;
    text-align:left;
  }
}

@media screen and (max-width: 725px) {
  .menu {
    display: none;
  }

/*  .menu-btn div {
    position:absolute;
    left: 100%;
    top: 64%;
    padding-right: 8px;
    margin-top: -0.5em;
    vertical-align: middle;
    z-index:99;
  } */

  .responsive-menu {
    background: black;
    display: none;
    margin-top:53px;
  }

  .menu-list li{
    padding-top: 10%;
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: 1px solid white;
    font-size: 1.8em;
  }

  .menu-list li a:link, a:visited, a {
    text-decoration: none;
    color: white;
  }

  .expand {
    display: block!important;
  }

  #title {
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 10%;
    display: block;
    color: white;
    float: left;
  }

  nav {
    margin-top: 5%!important;
    margin-right: 10%!important;
  }
  
  #menu-container {
    display: block;
    width: 50px;
    z-index:99;
    float:right;
  }

  #menu-font {
    color: white;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
  }

  #menu-bar {
   border: 1px solid white;
   width: 95%;
   margin-top: 10%;
  }

}

@media screen and (max-width: 500px) {

  #title {
    font-size:1em;
  }

  header {
    height: 50px;
  }

  nav {
    margin-top: 10px!important;
  }

  #title-container {
    margin-top: 10px;
  }

}
