
/*Header bar*/

body {
  font-family: Volkorn;
  line-height: 1.25em;
  text-align: center;
  position: relative;
  font-size: 1.05em;
  background: white;
}

header {
  background: black;
  position: fixed;
  z-index: 100;
  width: 100%;
  height:85px;
  left: 0;
  top: 0;
}

nav {
  float: right;
  margin-right: 2%!important;
}

#title-container {
  float: left;
  margin-left: 2%;
  margin-top:30px;
}

.menu {
  list-style: none;
  font-size: 1.4em;
}

.menu li {
  display:inline-block;
  float:left;
}

.menu hr {
  border-top: 2px solid black;
  width: 100%;
}

/*all the font specs come here*/
.font-spec {
  font-variant: small-caps;
  letter-spacing: 1px;
}

.sections a:link, a:visited, a {
  text-decoration: none;
  padding-right: 20px;
  text-align: center;
  margin-top:30px;
  display: block;
  color: white;
}

#title {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2em;
  display: block;
  color: white;
  float: left;
}

#menu-container {
  display:none;
}

a:hover {
  text-decoration: none;
}


@media screen and (max-width: 550px) {
  .menu {
    display: none;
  }

  #title {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2em;
    margin-left: 10%;
    display: block;
    color: white;
    float: left;
  }

  nav {
    margin-top: 5%!important;
    margin-right: 10%!important;
  }
  
  #menu-container {
    display: block;
  }

  #menu-font {
    color: white;
    font-size: 2em;
    text-align: center;
  }

  #menu-bar {
   border: 1px solid white;
   width: 95%;
   margin-top: 10%;
  }

}

@media screen and (max-width: 500px) {

  header {
    height: 50px;
  }

  nav {
    margin-top: 10px!important;
  }

  #title-container {
    margin-top: 10px;
  }

}
