
/*Header bar*/

body {
  font-family: Volkorn;
  line-height: 1.25em;
  text-align: center;
  position: relative;
  font-size: 1.05em;
  background: white;
}

header {
  background: black;
  position: fixed;
  z-index: 100;
  width: 100%;
  height:85px;
  left: 0;
  top: 0;
}

nav {
  float: right;
  margin-right: 2%!important;
}

.menu {
  list-style: none;
  font-size: 1.4em;
}

.menu li {
  display:inline-block;
  float:left;
}

.menu hr {
  border-top: 2px solid black;
  width: 100%;
}

/*all the font specs come here*/
.font-spec {
  font-variant: small-caps;
  letter-spacing: 1px;
}

.sections a:link, a:visited, a {
  text-decoration: none;
  padding-right: 20px;
  text-align: center;
  margin-top:30px;
  display: block;
  color: white;
}

#title {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 1.7em;
  margin-top: 32px;
  margin-left: 1%;
  display: block;
  color: white;
  width: 400px;
  height: 40px;
  float: left;
}

#menu-button {
  display: none;
  border: 2px solid white;
  width: 100%;
  padding: 10%;
}

#menu-button h1 {
  color: white;
  font-size: 2rem;
}



@media screen and (max-width: 930px) {
  .menu {
    display: none;
  }

  #menu-button {
    display: block;
  }

  #navigator {
    margin-top: 2%;
    padding-right: 5%;
  }

}
